Nada Boukhari <nada.boukhari@tum.de> <nada.boukhari@imedia24.de>
Nada Boukhari <nada.boukhari@tum.de> <51091307+NadaBoukhari@users.noreply.github.com>
Mohamed Ghanem <mohamed.ghanem@tum.de> <mohamedyehia1998@gmail.com>
Mohamed Ghanem <mohamed.ghanem@tum.de> <ge37zat@mytum.de>
Raffaele Tranquillini <raffaele.tranquillini@gmail.com> <raffaele.tranquillini@tum.de>
Sathwik Amburi <sathwik.amburi@tum.de>
