Nada Boukhari <nada.boukhari@tum.de> <51091307+NadaBoukhari@users.noreply.github.com> <nada.boukhari@imedia24.de>
Mohamed Ghanem <mohamed.ghanem@tum.de> <mohamedyehia1998@gmail.com> <ge37zat@mytum.de>
Raffaele Tranquillini <raffaele.tranquillini@gmail.com>
Sathwik Amburi <sathwik.amburi@tum.de>